<br>
<br>
<hr>

<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded w-full">
    <nav class="grid grid-flow-col gap-4 text-center">
        <a class="link link-hover" href="/"><strong>Home</strong></a>
        <a class="link link-hover" href="/about"><strong>About</strong></a>
        <a class="link link-hover" href="/lego/sets"><strong>View Collection</strong></a>
        <a class="link link-hover" href="/lego/addSet"><strong>Add to Collection</strong></a>
    </nav>
    <p class="text-center">Copyright &copy; 2024 - All rights reserved by Emmanuel Ngufor</p>
    <p>This site is open source. Contact me at esngufor@myseneca.ca to improve this site.</p>
</footer>
